body {
    background-color: rgb(63, 7, 7);
    margin: 0;
  }
  
  .block {
    position: relative;
    width: 25vw;
    height: 25vh;
    transition: left 3s;
  }
  
  #red { background-color: red; }
  #green { background-color: lime; }
  #blue { background-color: cyan; }
  #purple { background-color: fuchsia; }